<div class="container">
	<section>
		<h1 class="title">About Us</h1>
		<div class="card bg-gray-50 rounded-lg">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
				<div>
					<div
						class="flex justify-center items-center h-full rounded-lg overflow-hidden"
					>
						<img
							src="<?= base_url() ?>assets/front/dist/img/about-hero-1.jpg"
							alt=""
						/>
					</div>
				</div>
				<div class="lg:text-lg">
					<p class="mb-5">
						Sepasar.Id merupakan sebuah aplikasi yang digunakan untuk mendukung
						edukasi di Pasar.
					</p>
					<p class="mb-5">
						Pada awal pengembangan ini sepasar diimplentasikan di Pasar
						Sambilegi, Maguwoharjo, Sleman, DIY.
					</p>
					<p class="mb-5">
						Untuk kedepannya Aplikasi ini akan dikembangkan untuk bisa digunakan
						oleh pasar-pasar tradisional se- Indonesia.
					</p>
					<p class="mb-5">
						Aplikasi ini mempertemukan Pedagang, Pemberi materi (Pengajar),
						Relawan dan pengelola pasar dalam satu menajemen aplikasi.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h1 class="title">Visi & Misi Sepasar.id</h1>
		<div class="card p-0 bg-gray-50 rounded-lg">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
				<div class="order-1 lg:order-2">
					<div
						class="flex justify-center items-center h-full rounded-lg overflow-hidden"
					>
						<img
							src="<?= base_url() ?>assets/front/dist/img/about-visi.jpg"
							alt=""
						/>
					</div>
				</div>
				<div
					class="lg:text-lg order-2 lg:order-1 text-center flex flex-col justify-center items-center"
				>
					<h2 class="text-xl font-bold mb-5">VISI</h2>
					<p class="lg:pl-10 pb-10 lg:pb-0">
						Platform Edukasi Pedagang Pasar Terdepan di Indonesia 2027.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h1 class="title">Visi & Misi Sepasar.id</h1>
		<div class="card p-0 bg-gray-50 rounded-lg">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
				<div class="order-1">
					<div
						class="flex justify-center items-center h-full rounded-lg overflow-hidden"
					>
						<img
							class="w-full"
							src="<?= base_url() ?>assets/front/dist/img/about-misi.jpg"
							alt=""
						/>
					</div>
				</div>
				<div
					class="lg:text-lg order-2 text-center flex flex-col justify-center items-center p-5 lg:pl-0 lg:pr-10 lg:py-10"
				>
					<h2 class="text-xl font-bold mb-5">VISI</h2>
					<p class="mb-5">
						Memberikan Edukasi berjenjang sesuai kebutuhan dan mengedepankan
						kualitas produk dan layanan pendidikan
					</p>
					<p class="mb-5">
						Membangun jaringan pendukung Pemasaran Produk Pasar Rakyat
					</p>
					<p class="mb-5">
						Melakukan Penelitian berkala dan Monitoring Cek Kondisi Usaha
					</p>
					<p class="mb-5">
						Menjalin hubungan kerjasama Kolaborasi Komunitas terkait dan
						Integrasi yang bersinergi dengan berbagai element
					</p>
					<p class="mb-5">
						Mengembangkan Jiwa dan Keterampilan kewirausahaan Resiliensi bagi
						pedagang, pengguna manfaat dan Relawan Sepasar.id
					</p>
					<p class="mb-5">
						Mengembangkan organisasi yang sehat, berkembang, inovatif dan Handal
						yang bermanfaat bagi berbagai pemangku Kepentingan
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
